<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap  -->
    <%- include("partials/Bootstrap.ejs") %> 

    <title>Choice</title>

</head>
<body class="vh-100">

    <%- include("partials/Navbar.ejs") %> 

    <div class="container d-flex justify-content-center align-items-end gap-2 h-50">
        
        
        <% if (user.admin) { %>
            <a class="btn btn-outline-dark" href="/create/<%= user._id %>"> Créer un QCM </a>
            <a class="btn btn-outline-dark" href="/edit/<%= user._id %>"> Modifier un QCM </a>
        <% } %>
        
        <a class="btn btn-outline-dark" href="/fill/<%= user._id %>"> Faire un QCM </a>
        <a class="btn btn-outline-dark" href="#"> Voir ses réponses </a>

    </div>
</body>
</html>