<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("partials/Bootstrap.ejs") %>
    <link rel="stylesheet" href="/css/edit.css">
   
    <title>Create QCM</title>
</head>
<body>
    <%- include("partials/Navbar.ejs") %>

    <h1> Editez Vos QCM </h1>
    
        <% data.forEach(element => { %>
       <form action="/qcm/edit/<%= user._id%>/<%= element._id%>/?_method=PUT" method="post">

        <input type="hidden" name="_method" value="PUT">
    
        <label for="titre" class="descri">Titre du questionnaire</label>
        <input type="text" id="titre" name="titre" value="<%= element.titreQuestionnaire %>">
        <br>
        
        <input type="submit" value="Enregistrer" class="confirmed">
    </form>

    <form action="/qcm/delete/<%= user._id%>/<%= element._id%>/?_method=DELETE" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="titre" value="<%= element.titreQuestionnaire%>" >

       
        <button type="submit" class="confirmed">
            Supprimer le questionnaire
        </button>
    </form>  

        <% element.questions.forEach(champ => { %>
       <form action="/qcm/edit/<%= user._id%>/<%= element._id%>/?_method=PUT" method="post">

            <label for="question" class="spacing1"> Question</label>
            <input type="text" class="spacing"id="question" name="description" value="<%= champ.description %>">
            <br>
            <label for="rep1" class="spacing1">Réponse 1 </label>
            <input type="text" class="spacing"id="rep1" name="rep1" value="<%= champ.reponse1 %>">
            <br>
            <label for="rep2" class="spacing1">Réponse 2</label>
            <input type="text" class="spacing"id="rep2" name="rep2" value="<%= champ.reponse2 %>">                                                                 
            <br>
            <label for="rep3" class="spacing1">Réponse 3</label>
            <input type="text" class="spacing"id="rep3" name="rep3" value="<%= champ.reponse3 %>">                                                                    
            <br>
            <label for="rep4" class="spacing1">Réponse 4</label>
            <input type="text" class="spacing"id="rep4" name="rep4" value="<%= champ.reponse4 %>">                                                                    
            <br>

            <input type="hidden" name="questionId" value="<%= champ._id%>" >
            
        
        
            <input type="submit" value="Enregistrer" class="confirmed">
            <br>
        </form>

        <form action="/qcm/delete/<%= user._id%>/<%= element._id%>/?_method=DELETE" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="questionId" value="<%= champ._id%>" >

           
            <button type="submit" class="confirmed">
                Delete
            </button>
        </form>   

    <% }) %>

    <div class="line"></div>
    <% }) %>

</body>
</html>